

<!DOCTYPE html>
<html lang="en">
<head>
    <%include partials/templates/head.ejs%>
	<link rel="stylesheet" href="css/featured.css">
	<title>Featured</title>
	<!-- script references -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>
<%if (LoggedIn == 0){%>
<%include partials/templates/navbar.ejs%>
<%}else{%>
<%include partials/templates/navbar_profile.ejs%>
<%}%>

<!-- SLIDES -->
<div id="featuredSlide">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<script>
          $.getJSON( "/api/featured/topThreePlaces", function(data) {
            for(var m=0; m<3; m++){
              if(data[m]!=null){
                var flag = 1;
              }
            }
            if (flag == 1) {
              document.getElementById("img1").src = data[0].img;
              document.getElementById("img2").src = data[1].img;
              document.getElementById("img3").src = data[2].img;
              document.getElementById("name1").innerHTML = data[0].name;
              document.getElementById("name2").innerHTML = data[1].name;
              document.getElementById("name3").innerHTML = data[2].name;
              document.getElementById("add1").innerHTML = data[0].address;
              document.getElementById("add2").innerHTML = data[1].address;
              document.getElementById("add3").innerHTML = data[2].address;
              document.getElementById("s1").href = "/Place?pid="+data[0]._id;
              document.getElementById("s2").href = "/Place?pid="+data[1]._id;
              document.getElementById("s3").href = "/Place?pid="+data[2]._id;
            }
          });
		</script>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<a href="" id="s1">
					<img id="img1" class="fslide" src="http://2.bp.blogspot.com/-yrdzQw2LUY4/VA8LuNc1piI/AAAAAAAAcew/GWrz67UqYuI/s1600/Cafe%2B1.jpg" alt="Coffee Lane">
				</a>
				<div class="carousel-caption">
					<h3 id="name1"> Melbourne Coffee Lane </h3>
					<p id="add1"> Live the Coffee life! </p>
				</div>
			</div>

			<div class="item">
				<a href="" id="s2">
					<img id="img2" class="fslide" src="http://www.melbournegirl.com.au/wp-content/uploads/2015/07/Melbourne-Winter-Night-Markets.jpg" alt="Night Market">
				</a>
				<div class="carousel-caption">
					<h3 id="name2">Victoria Night Market</h3>
					<p id="add2">The Melbourne signatured nighty-night</p>
				</div>
			</div>

			<div class="item">
				<a href="" id="s3">
					<img id="img3" class="fslide" src="https://preview.ibb.co/fT6iak/books_2253569_1280.jpg" alt="books_2253569_1280">
				</a>
				<div class="carousel-caption">
					<h3 id="name3">Libraries of the Day!</h3>
					<p id="add3">Sneak in out top study zones</p>
				</div>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<!-- A PLACE OF YOUR FOLLOWING -->
<div class="row">
	<!-- Newly Added -->
	<script>
      $.getJSON( "/api/MyStuff/<%=latest.myplaces[len]%>", function(data) {
        document.getElementById("<%=latest._id%>").innerHTML = data.address;
        document.getElementById("name<%=latest._id%>").innerHTML = data.name;
      });
	</script>

	<div class="col-md-5">
		<div id="newlyAdded">
			<div class="media">
				<h2 class="text-center" style="border: 2px white solid; padding:10px; border-radius:10px; ">Newly Added</h2>
			</div>
			<div>
                <%if(latest.myplaces[len]!=null){%>
				<a id="link-new" href="/OtherProfile?pid=<%=latest._id.toString()%>"><%=latest.Username%></a>
				<a id="linkk" href="/Place?pid=<%=latest.myplaces[len]%>"><h2 class="followPlace" id="name<%=latest._id%>"></h2></a>
				<a id="linkk" href="/Place?pid=<%=latest.myplaces[len]%>"><h2 class="followPlace" id="<%=latest._id%>"></h2></a>
                        <%}else{%>
						<a id="linkk" href="/Place?pid=58fe94b5d71164300c5beb58"><h2 class="followPlace" id="<%=latest._id%>"> Follow a Master to see the Magic ^_^ </h2></a>
                                <%}%>
			</div>
		</div>
	</div>




	<!-- Top users -->

	<div class="col-md-7 container">
		<h2 class="text-center" style="border: 2px white solid; padding:10px; border-radius:10px">Top Users</h2>
		<ul id="masters">
            <%for(var i=0; i<3; i++){%>
			<li class="col-md-2">
                <%if(topThree[i]!=null){%>
				<img class="profilePic" src=<%=topThree[i].img%> id="mastersPhoto">
				<a style="color:white;" href="/OtherProfile?pid=<%=topThree[i]._id.toString()%>"><%=topThree[i].Username%></a>
                <%}else{%>
				<img class="profilePic" src="http://placekitten.com/g/80/80" id="mastersPhoto">
				No one :(
                <%}%>
			</li><%}%>
		</ul>
	</div>
</div>
<%include partials/templates/defaultjs.ejs%>
</body>
</html>