<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <%include partials/templates/head.ejs%>
    <link rel="stylesheet" href="/css/searchresult.css">
    <script type="text/javascript" src="/javascript/searchresult.js"></script>
</head>
<body>
<%if (LoggedIn == 0){%>
<%include partials/templates/navbar.ejs%>
<%}else{%>
<%include partials/templates/navbar_profile.ejs%>
<%}%>


<h2 id="resultcount">We found <%=PlaceData.length%> matching places: </h2>  
<!--text search result page display-->
<%PlaceData.forEach(function(aplace){%>
<div class="searchresult">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="view">
                        <div class="caption">
                            <h3 id="placetitle1"><%=aplace.address%></h3>
                            <button type="button" name="save" rel="tooltip" value="<%=aplace._id%>" title="Add to Favorites"  id="savebutton"><span class="fa fa-heart-o fa-2x" id="saveheart"></span></button>
                        </div>
                        <img src="<%=aplace.img%>" class="img-responsive" id="resultimg">
                        <!--<div class="propertyType house">HOUSE</div>-->
                    </div>
                    <div class="info">

                        <p   class="small" style="text-overflow: ellipsis" id="placename"><strong>Name:  </strong>
                            <a href="/Place?pid=<%=aplace._id%>" class="small" style="text-overflow: ellipsis"><%=aplace.name%></a></p>
                        <p  class="small" style="text-overflow: ellipsis;text-decoration: none;" id="placeaddress">Address:  </strong> <%=aplace.address%></p>
                        <p class="small wb-red" id="placetagtitle"><strong>Tags:</strong></p>
                        <%aplace.tags.forEach(function(tag){%>
                        <p class="small wb-red" id="placetagname"><%=tag.name%>  <span class="fa fa-heart-o" rel="tooltip" title="Added" id="placetagcount"><%=tag.count%></span></p>
                        <%});%>
                        <p class="small" style="text-overflow: ellipsis" id="placereports"><strong>Reports:</strong> <%=aplace.report%> </p>
                        <p class="small" style="text-overflow: ellipsis" id="placelikes"><strong>Likes:</strong> <%=aplace.likes%> </p>
                        <p class="small wb-red" id="comment">----------<strong>Comments</strong>---------</p>
                        <p class="small" style="text-overflow: ellipsis"> Click <a href="/Place?pid=<%=aplace._id%>#reviews">Here</a>
                            to write a review</p>
                        <div class="row" class="commentarea">
                            <%aplace.comments.forEach(function(acomment) {%>
                            <div class="col-sm-12">
                            <div class="col-sm-1">
                                <div class="thumbnail">
                                    <a href="" id="picref<%= acomment %>">
                                    <img id="pic<%= acomment %>" class="img-responsive user-photo" src="" alt="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                    </a>
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->
                            <div class="col-sm-11">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="" id="idref<%= acomment %>" style="text-decoration: none;">
                                        <p id="username<%= acomment %>"></p>
                                        </a>
                                    </div>
                                    <div class="panel-body">
                                        <p style="text-decoration: underline;">Rating:</p>
                                       <p id="rating<%= acomment %>"></p>
                                        <p style="text-decoration: underline;">Comment:</p>
                                        <p id="textarea<%= acomment %>"></p>
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->
                            <script>
                              $.getJSON( "/api/seecomments/<%= acomment %>", function(data) {

                                document.getElementById("textarea<%= acomment %>").innerHTML = data.review_text;
                                document.getElementById("rating<%= acomment %>").innerHTML=data.rating;
                                if(data.rating == 1){
                                  document.getElementById("rating<%= acomment %>").innerHTML = "<i class='fa fa-arrow-up' ></i>";
                                }else if(data.rating == 2){
                                  document.getElementById("rating<%= acomment %>").innerHTML = "<i class='fa fa-arrow-down' ></i>";

                                }else{
                                  document.getElementById("rating<%= acomment %>").innerHTML = "Meh";
                                }
                                $.getJSON( "/api/person/"+data.person_id, function(person) {
                                  document.getElementById("idref<%= acomment %>").setAttribute('href','/OtherProfile?pid='+person._id)
                                  document.getElementById("picref<%= acomment %>").setAttribute('href','/OtherProfile?pid='+person._id)
                                  document.getElementById("username<%= acomment %>").innerHTML=person.Username;
                                  document.getElementById("pic<%= acomment %>").setAttribute('src',person.img)


                                });
                              });
                            </script>
                            <% })%>
                        </div>
                        </div><!-- /row -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% }); %>
</body>
</html>

